@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dd,
dl {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border: 0; }

/*设置默认的文字大小和类型*/
body {
  font-size: 14px;
  font-family: "宋体";
  overflow: scroll;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: black; }

i,
em {
  font-style: normal;
  font-weight: bold; }

input {
  outline: none;
  /*border: 1px red;*/ }

a {
  outline: none; }

select,
input,
img {
  vertical-align: middle; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both; }

.clear-fix {
  zoom: 1; }

.layout{
	margin: 0 auto;
	width:1190px;
}




.header {
  position: relative;
  width: 100%; }
  .header .site {
    width: 100%;
    background: #F1F1F1; }
    .header .site .site-nav {
      width: 1190px;
      height: 36px;
      line-height: 36px;
      margin: 0 auto; }
      .header .site .site-nav .site-nav-bd-l {
        width: 95px;
        display: inline;
        height: 36px;
        float: left; }
        .header .site .site-nav .site-nav-bd-l .site-nav-span {
          font-size: 12px;
          display: inline-block;
          color: #707070;
          width: 40px;
          background: url(../img/common_sprite.png) no-repeat right 0;
          background-position: right 16px; }
        .header .site .site-nav .site-nav-bd-l .hd_provinceList {
          background: #fff;
          color: #333;
          font-weight: 400;
          cursor: default;
          border: 1px solid #e5e5e5;
          width: 280px;
          padding: 5px 0;
          border-top: none;
          display: none;
          z-index: 100;
          position: absolute; }
          .header .site .site-nav .site-nav-bd-l .hd_provinceList li {
            line-height: 22px;
            padding-left: 10px;
            color: #a5a5a5;
            font-width: 700;
            font-size: 12px; }
            .header .site .site-nav .site-nav-bd-l .hd_provinceList li a:hover {
              cursor: pointer;
              text-decoration: underline; }
      .header .site .site-nav .site-nav-bd-r {
        display: inline;
        float: right; }
        .header .site .site-nav .site-nav-bd-r .menu {
          float: left;
          display: inline;
          padding: 0 10px;
          background: url(../img/common_sprite.png);
          background-position: right -178px; }
          .header .site .site-nav .site-nav-bd-r .menu .exit {
            display: none;
            float: left; }
          .header .site .site-nav .site-nav-bd-r .menu .menu-hd {
            position: relative;
            padding: 0;
            height: 36px;
            line-height: 36px; }
            .header .site .site-nav .site-nav-bd-r .menu .menu-hd .tellnumber {
              overflow: hidden;
              float: left;
              font-size: 12px;
              color: #c7a774;
              font-weight: 700;
              font-family: Tahoma; }
            .header .site .site-nav .site-nav-bd-r .menu .menu-hd .tell em {
              display: inline-block;
              background: url(../img/common_sprite.png) no-repeat right 0;
              background-position: right -104px;
              width: 9px;
              height: 20px;
              margin-right: 5px; }
            .header .site .site-nav .site-nav-bd-r .menu .menu-hd .menu-hd-erd {
              background-color: #FFF;
              border: 1px solid #DDD;
              display: none;
              float: left;
              line-height: 24px;
              left: -75px;
              top: 36px;
              padding: 12px 0;
              position: absolute;
              width: 205px;
              z-index: 1000;
              overflow: hidden; }
              .header .site .site-nav .site-nav-bd-r .menu .menu-hd .menu-hd-erd .erD {
                background: url(../img/common_sprite.png) no-repeat right 0;
                width: 85px;
                background-position: -1px -887px;
                height: 85px;
                display: block;
                float: left;
                margin: 0 auto; }
              .header .site .site-nav .site-nav-bd-r .menu .menu-hd .menu-hd-erd .erD1 {
                background: url(../img/common_sprite.png) no-repeat right 0;
                width: 85px;
                background-position: -88px -223px;
                height: 85px;
                display: block;
                float: left;
                margin: 0 auto; }
          .header .site .site-nav .site-nav-bd-r .menu .menu_bd {
            position: absolute;
            width: 95px;
            margin: 0;
            left: -11px;
            background: #fff;
            z-index: 10001; }
            .header .site .site-nav .site-nav-bd-r .menu .menu_bd .menu_bd_panel {
              border: #ddd 1px solid;
              float: left; }
  .header .wrap {
    position: relative;
    margin-bottom: 10px;
    margin: 0 auto;
    width: 1190px; }
    .header .wrap .mod_logo {
      margin-right: 105px;
      width: 180px;
      float: left;
      height: 113px;
      overflow: hidden;
      position: relative; }
      .header .wrap .mod_logo .logo_jieri {
        position: absolute;
        z-index: 100;
        width: 230px;
        height: 113px;
        margin: 0 0 0 -40px;
        display: none; }
      .header .wrap .mod_logo .logo {
        padding-top: 26px; }
        .header .wrap .mod_logo .logo a {
          text-decoration: none;
          display: block;
          text-indent: -9999px;
          width: 180px;
          height: 61px;
          background: url(../img/logo_01.png) no-repeat; }
    .header .wrap .mod_serch {
      width: 778px;
      float: left;
      margin-bottom: 15px; }
      .header .wrap .mod_serch .serchFrom {
        float: left;
        margin: 34px 0 0 0;
        background-color: #fff;
        position: relative;
        z-index: 9999; }
        .header .wrap .mod_serch .serchFrom input {
          width: 435px;
          outline: 0;
          float: left;
          height: 44px;
          line-height: 44px;
          padding: 0 5px 0 9px;
          border: 1px solid #c7a774;
          color: #666;
          font-size: 15px;
          vertical-align: middle;
          background-color: #fff; }
        .header .wrap .mod_serch .serchFrom buttom {
          float: left;
          width: 82px;
          height: 44px;
          line-height: 55px;
          border: 1px solid #c7a774;
          cursor: pointer;
          background-color: #fff;
          margin-left: -1px;
          background: url(../img/btn.png) center no-repeat; }
      .header .wrap .mod_serch .mod_minicart {
        width: 140px;
        font-size: 12px;
        position: relative;
        top: 16px;
        right: -788px;
        margin-bottom: -41px;
        z-index: 99;
        border: 1px solid #eee; }
        .header .wrap .mod_serch .mod_minicart .mini_cart_btn {
          background: url(../img/common_sprite.png) left no-repeat;
          background-position: 10px -312px;
          display: block;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          color: #5e5e5e; }
          .header .wrap .mod_serch .mod_minicart .mini_cart_btn .cart_num {
            display: block;
            position: absolute;
            float: left;
            top: 3px;
            line-height: 10px;
            width: auto;
            min-width: 12px;
            text-align: center;
            vertical-align: middle;
            left: 30px;
            font-weight: 700;
            font-family: tahoma;
            font-style: normal;
            color: #fff;
            font-size: 12px;
            height: 12px;
            padding: 2px;
            border-radius: 16px; }
          .header .wrap .mod_serch .mod_minicart .mini_cart_btn span {
            position: absolute;
            width: 50px;
            left: 55px;
            background: url(../img/right.png) right no-repeat;
            padding-right: 15px; }
        .header .wrap .mod_serch .mod_minicart .minicart_list {
          position: absolute;
          width: 350px;
          margin-left: -221px;
          margin-top: -1px;
          z-index: 10000;
          border: #e72418 1px solid;
          border-top: #e72418 2px solid;
          font: 12px Arial, tahoma, \5b8b\4f53;
          background: #fff; }
          .header .wrap .mod_serch .mod_minicart .minicart_list .none_tips {
            height: 76px;
            color: #a5a5a5; }
            .header .wrap .mod_serch .mod_minicart .minicart_list .none_tips i {
              float: left;
              width: 130px;
              height: 76px;
              background: url(../img/common_sprite.png) no-repeat right 0;
              background-position: 42px -370px; }
      .header .wrap .mod_serch .hotKeys {
        float: left;
        height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 10px;
        width: 778px;
        overflow: hidden;
        zoom: 1; }
        .header .wrap .mod_serch .hotKeys a {
          color: #5e5e5e;
          padding: 0 6px 0 0;
          margin-right: 6px;
          height: 16px;
          line-height: 16px;
          font-family: Arial; }
    .header .wrap .erDCode {
      position: absolute;
      right: 140px;
      top: 10px;
      width: 123px;
      height: 115px;
      background: url(../img/2DCodenew2.jpg) no-repeat; }
  .header .headerNav {
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #d2b994; }
    .header .headerNav .headerNavMain {
      width: 1190px;
      margin: 0 auto;
      text-align: left;
      position: relative; }
    .header .headerNav .allSort {
      float: left;
      width: 180px; }
      .header .headerNav .allSort .more {
        background: url(../img/common_sprite.png) no-repeat right 0;
        position: absolute;
        z-index: 1;
        font: 400 15px/48px tahoma, arial, Microsoft YaHei;
        color: #fff;
        width: 166px;
        padding: 0 0 0 14px;
        height: 48px;
        background-color: #19323a;
        background-position: right -438px;
        font-weight: 700; }
      .header .headerNav .allSort .stortbox {
        background-color: #fff;
        position: absolute;
        z-index: 99;
        width: 180px;
        height: auto;
        margin-top: 48px;
        border-bottom: #e6e6e6 1px solid; }
        .header .headerNav .allSort .stortbox .stitle div {
          background: url(../img/2.png) left center no-repeat; }
          .header .headerNav .allSort .stortbox .stitle div a {
            margin-left: 38px;
            display: block;
            width: 142px;
            height: 40px;
            color: #fff;
            line-height: 40px;
            background-color: #314349;
            text-decoration: none; }
          .header .headerNav .allSort .stortbox .stitle div .category {
            width: 1009px;
            position: absolute;
            top: 0;
            left: 180px;
            height: 400px;
            z-index: 101;
            background: #fff;
            border-bottom: 1px solid #e8e8e7;
            border-right: 1px solid #e8e8e7;
            clear: both;
            display: none;
            font-size: 100px;
            text-align: center;
            line-height: 400px; }
        .header .headerNav .allSort .stortbox .stitle div .category a {
              width: 1009px;
              height: 400px;
              z-index: 1002;
              background: #fff;
              color: black;
              display: block;
              font-size: 50px;
              text-align: center;
              line-height: 400px; }
      .header .headerNav .allSort .sitenav {
        float: left;
        height: 46px;
        font-size: 0;
        width: 1120.4px;
        background: #fff;
        font-family: tahoma, arial, \5b8b\4f53;
        vertical-align: middle;
        padding-left: 180px; }
        .header .headerNav .allSort .sitenav .s_m {
          word-spacing: -1px;
          float: left;
          margin-left: -2px;
          font-size: 0; }
          .header .headerNav .allSort .sitenav .s_m a {
            cursor: pointer;
            padding: 0 15px;
            font-weight: 400;
            font-family: "Microsoft YaHei";
            color: #505050;
            padding: 0 16px;
            font-size: 16px;
            letter-spacing: normal;
            word-spacing: normal;
            line-height: 46px;
            position: relative;
            display: block; }
        .header .headerNav .allSort .sitenav ul {
          font-size: 14px;
          border: #ddd 1px solid;
          position: absolute;
          z-index: 1000;
          background-color: #fff;
          font-family: Microsoft YaHei; }



.iconImg {
   	height:115px;
    padding: 30px 0;
    position: relative;
}

.iconImg div {
    float: left;
    height: 115px;
    width: 297px;
    background: url("../img/icon_gonggaob.png") no-repeat 20px top;
}

.iconImg div:nth-of-type(2) {
    background-position: -317px top;
}

.iconImg div:nth-of-type(3) {
    background-position: -634px top;
}

.iconImg div:nth-of-type(4) {
    background-position: -931px top;
}

.codeQR {
    margin-top: 50px;
    display: flex;
   /*float: left;*/
  	/*display: inline-block;*/ 
    justify-content: space-between;
}

.codeQR div {
    width: 385px;
    height: 150px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.codeQR div img {
    float: left;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}
.footerA{overflow: hidden;}
.footerA ul {
    margin-top: 30px;
    float: left;
    margin-right: 70px;
}

.footerA ul h2 {
    margin-bottom: 10px;
}

.footerA ul li a {
    color: #5E5E5E;
}

.phone {
    float: left;
    height: 100px;
    border-left: 1px #f1f1f1 solid;
    padding-left: 60px;
    padding-top: 45px;
}
.floor1,.floor2{text-align: center;}
.floor1 a,.floor2 a{color: #5E5E5E;}
.floor1{margin-top: 30px;}
.floorImg{
    margin-top: 10px;
    overflow: hidden;
}
.floorImg a{
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 40px;
    background: url("../img/outherLogo.png") no-repeat left top;
}
.floorImg a:nth-last-child(1){background: url("../img/20141126002933.png") no-repeat left top;
background-size: 100% 100%;}
.floorImg a:nth-child(2){background-position:-110px top;}
.floorImg a:nth-child(3){background-position:-220px top;}
.floorImg a:nth-child(4){background-position:-330px top;}
.floorImg a:nth-child(5){background-position:-440px top;}
.floorImg a:nth-child(6){background-position:-550px top;}
.floorImg a:nth-child(7){background-position:-660px top;}
.floorImg a:nth-child(8){background-position:-770px top;}
.floorImg a:nth-child(9){background-position:-880px top;}


/*侧边栏*/
.float_box {
  position: fixed;
  right: 28px;
  bottom: 10px;
  z-index: 100;
  width: 52px; }
  .float_box .f_home {
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    width: 52px;
    height: 52px;
    text-indent: -9999px;
    float: left;
    background: url(../img/common_sprite.png) no-repeat right 0;
    background-position: 0 -622px; }
  .float_box .f_wei {
    display: inline-block;
    height: 51px;
    text-indent: 0;
    line-height: 52px;
    font-weight: 700;
    color: #e72519;
    text-align: center;
    width: 52px;
    position: relative;
    background: url(../img/common_sprite.png) no-repeat right 0;
    background-position: 0 -674px; }
    .float_box .f_wei i {
      position: absolute;
      color: #fff;
      right: 11px;
      top: 8px;
      height: 12px;
      width: auto;
      min-width: 12px;
      border-radius: 16px;
      background: red;
      font-size: 12px;
      line-height: 12px;
      padding: 2px; }
  .float_box .f_back {
    background: url(../img/common_sprite.png) no-repeat right 0;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    width: 52px;
    text-indent: -9999px;
    float: left;
    background-position: 0 -777px;
    height: 52px; }
  .float_box .f_top {
    overflow: hidden;
    background: url(../img/common_sprite.png) no-repeat right 0;
    display: inline-block;
    zoom: 1;
    width: 52px;
    text-indent: -9999px;
    float: left;
    background-position: 0 -827px;
    height: 51px; }
  .float_box .f_home:hover,
  .float_box .f_back:hover,
  .float_box .f_top:hover {
    background: red;
    color: #fff;
    text-indent: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    text-align: center; }
  .float_box .f_wei:hover {
    background-position: -52px -674px;
    text-indent: -999px; }

.showConsult {
  left: -362px;
  top: 0;
  width: 360px;
  height: 203px;
  border: #e72419 1px solid;
  background-color: #fff;
  position: absolute;
  overflow: hidden; }
  .showConsult .consult {
    position: relative;
    width: 360px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    clear: both; }
    .showConsult .consult .d_txt {
      margin: 0;
      border: 0;
      width: 360px;
      height: 203px;
      overflow: hidden;
      position: absolute;
      top: -1px;
      left: -1px;
      background-color: #fff;
      font-size: 0; }
      .showConsult .consult .d_txt a {
        padding: 9px 0 9px 25px;
        width: 64px;
        font-size: 12px;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-bottom: 0;
        display: inline-block;
        float: left;
        margin-left: -1px;
        overflow: hidden;
        text-align: left;
        background: url(../img/yw_talk.gif) no-repeat 6px center; }
      .showConsult .consult .d_txt .b_consultCol {
        color: #e72419; }

.none_tips {
  padding-top: 27px;
  background-color: #fff;
  border: #e72419 1px solid;
  height: 227px;
  position: absolute;
  top: 0;
  width: 268px;
  left: -270px;
  margin-left: 0;
  margin-top: 0;
  left: -270px;
  margin-left: 0;
  margin-top: 0; }
  .none_tips i {
    float: left;
    height: 76px;
    background: url(../img/common_sprite.png) no-repeat right 0;
    width: 104px;
    background-position: 15px -370px; }
  .none_tips p {
    float: left;
    width: 150px;
    margin-top: 22px;
    line-height: 20px; }